<h1>Room {{movie.room}} <b>{{movie.title}}</b></h1>

<div class="col-xs-6 ">
<img [src]='movie.poster' class='movie-poster'/>
</div>

<div class="col-xs-6 ">
  <p><b>Genres: </b>
    <span *ngFor='let genre of movie.genres'>
      {{genre}}
    </span></p>
  <p><b>Year: </b>{{movie.year}}</p>
  <p><b>Director: </b>{{movie.director}}</p>
  <p><b>Schedule: </b>
    <span *ngFor='let schedule of movie.hours'>
      {{schedule}}
    </span></p>
  <p><b>Synopsis: </b>{{movie.synopsis}}</p>
  <a class="btn btn-info" [routerLink]="['/']"> Home </a>
</div>
